@import "tailwindcss";

@font-face {
  font-family: "Fuzzy Bubbles";
  src: url("./assets/fonts/fuzzy-bubbles.ttf");
}

:root, html, body {
  width: 100%;
  color: #58380A;
}
html {
  background-color: #FFF7EB;
  font-family: "Fuzzy Bubbles", sans-serif;
}