@import "tailwindcss";

@font-face {
    font-family: "Fuzzy Bubbles";
    src: url("./assets/fonts/fuzzy-bubbles.ttf");
}

:root,
html,
body {
    width: 100%;
    color: #58380a;
}
html {
    background-color: #fff7eb;
    font-family: "Fuzzy Bubbles", sans-serif;
}
